:root {
  --main-color: #ffffff;
  --second-bg-color: #2f303a;
  --text-color: #757575;
  --title-color: #212121;
  --hover-color: #2196f3;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --filter-btn-bg: #f5f4fa;
  --logo-color: #000000;
  --border-work-color: #eeeeee;
}

body {
  background-color: var(--main-color);
  color: var(--text-color);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
a {
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

button {
  border: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* header start */
.border {
  border-top: 1px solid #ececec;
}
.flex-box {
  display: flex;
  align-items: center;
}
.nav {
  display: flex;
  align-items: center;
}
.logo {
  color: var(--logo-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.logo span {
  color: var(--hover-color);
}
.nav-site {
  display: flex;
  margin-left: 93px;
}
.nav-site--item:not(:last-child) {
  margin-right: 50px;
}
.nav-site--link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.current {
  color: var(--hover-color);
}
.address {
  display: flex;
  margin-left: auto;
}
.address-item:not(:last-child) {
  margin-right: 43px;
}
.addres-cont {
  color: var(--text-color);
}
.nav-site--link:hover,
.addres-cont:hover,
.nav-site--link:focus,
.addres-cont:focus {
  color: var(--hover-color);
}

/* header end */

/* Hero start */
.bg {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--second-bg-color);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/hero-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  margin-bottom: 30px;
  color: var(--main-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero-btn {
  padding-top: 10px;
  padding-right: 32px;
  padding-bottom: 10px;
  padding-left: 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: var(--hover-color);
  color: var(--main-color);
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
}
/* Hero end */

/* benefit start */
.benefit {
  display: flex;
}
.benefit-item {
  width: calc((100%-90px) / 4);
}
.benefit-item:not(:last-child) {
  margin-right: 30px;
}

.benefit-item::before {
  content: '';
  display: block;
  margin-bottom: 30px;
  height: 120px;
  border-radius: 4px;
  background-color: var(--filter-btn-bg);
  background-repeat: no-repeat;
  background-position: center;
}

.icon-antenna::before {
  background-image: url('../images/benefit-antenna.svg');
}

.icon-clock::before {
  background-image: url('../images/benefit-clock.svg');
}

.icon-diagram::before {
  background-image: url('../images/benefit-diagram.svg');
}

.icon-astronaut::before {
  background-image: url('../images/benefit-astronaut.svg');
}

.benefit-item--title {
  margin-bottom: 10px;
  color: var(--title-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
/* benefit end */

/* class start */
.class {
  display: flex;
  justify-content: space-between;
  padding-top: 0;
}
.title {
  margin-bottom: 50px;
  color: var(--title-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.7;
  text-align: center;
}
/* class end */

/* team start */
.team-bg {
  background-color: var(--filter-btn-bg);
}
.team {
  display: flex;
}
.team-item {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  width: calc((100%-90px) / 4);
  background-color: var(--main-color);
  text-align: center;
}
.team-item:not(:last-child) {
  margin-right: 30px;
}

.team-content {
  padding-top: 30px;
  padding-right: 59px;
  padding-bottom: 30px;
  padding-left: 60px;
}
.team-item--title {
  margin-bottom: 10px;
  color: var(--title-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}
.team-item--text {
  font-size: 16px;
  line-height: 1.18;
}
/* team end */

/* portfolio start */
/* filter start */
.filter {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}
.filter-item:not(:last-child) {
  margin-right: 8px;
}
.filter-btn {
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
  border-radius: 4px;

  background-color: var(--filter-btn-bg);
  color: var(--title-color);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;
}
.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--hover-color);
  color: var(--main-color);
}
/* filter end */

/* work examples start */

.work {
  display: flex;
  flex-wrap: wrap;
}
.work-item {
  width: calc((100% - 60px) / 3);

  background-color: var(--main-color);
  border: 1px solid transparent;
}

.work-item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.work-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.work-content {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
  background-color: var(--main-color);
  border-right: 1px solid var(--border-work-color);
  border-bottom: 1px solid var(--border-work-color);
  border-left: 1px solid var(--border-work-color);
}

.work-item--title {
  margin-bottom: 4px;
  color: var(--title-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.work-item--text {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.87;
}
/* work examples end */
/* portfolio end */

/* footer start */
.footer {
  background-color: var(--second-bg-color);
}

.flex {
  display: flex;
  align-items: center;
}

.footer-address {
  display: flex;
  flex-direction: column;
  margin-right: 70px;
}

.footer-logo {
  margin-bottom: 20px;
  color: var(--main-color);
}
.item:not(:last-child) {
  margin-bottom: 9px;
}
.footer-cont {
  color: var(--footer-text-color);
  font-style: normal;
}
.footer-cont:hover,
.footer-cont:focus {
  color: var(--main-color);
}

.social {
  display: flex;
  flex-direction: column;

  padding-top: 72px;
  padding-bottom: 100px;
}

.social-title {
  display: inline-block;
  margin-bottom: 20px;
  color: var(--main-color);
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

.social-inner {
  display: flex;
}

.social-item:not(:last-child) {
  margin-right: 10px;
}

.social-link::before {
  content: '';
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  background-color: rgba(255, 255, 255, 0.1);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
}

.instagram::before {
  background-image: url('../images/footer-instagram.svg');
}
.twitter::before {
  background-image: url('../images/footer-twitter.svg');
}
.facebook::before {
  background-image: url('../images/footer-facebook.svg');
}
.linkedin::before {
  background-image: url('../images/footer-linkedin.svg');
}

.social-link:focus::before,
.social-link:focus::before {
  background-color: var(--hover-color);
}
/* footer end */
